<div class="component-selector">
  <% @components.each_with_index do |component, index| %>
  <% categories = component.game_categories.pluck(:name).map(&:underscore) %>
    <%= f.label :"component_id_#{component.id}", label_options(categories) do %>
    <%= f.radio_button :component_id, component.id, class: "component-button" %>
    <div class="components <%= index == 0 ? 'first' : '' %> <%= categories.join(' ') %>">
      <div class="component-picture">
        <%= image_tag(component_image_path(component), alt: @category.display_name, class: "inner-image") %>
      </div>
      <div class="component-details">
         <% categories.each do |category| %>
            <span class="recommended-text">Recommended for <%= category.upcase %></span>
         <% end %>
        <div class="component-name"><%= component.name %></div>
        <%= component_price_tag(component) %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
