
<!-- <div class="wrapper">
  <input type="checkbox" id="menuToggler" class="input-toggler" />
<label for="menuToggler" class="menu-toggler">
  <span class="menu-toggler__line"></span>
  <span class="menu-toggler__line"></span>
  <span class="menu-toggler__line"></span>
</label>
<aside class="sidebar">
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#Case1">Case 1</a></li>
    <li class="menu__item"><a class="menu__link" href="#Case2">Case 2</a></li>
    <li class="menu__item"><a class="menu__link" href="#Case3">Case 3</a></li>
  </ul>
</aside>


  <main class="content">
    <div id="Case1">
      <h1>Case 1</h1>
      <p>This is the first case</p>
    </div>
    <div id="Case2">
      <h1>Case 2</h1>
      <p>This is the second case</p>
    </div>
    <div id="Case3">
      <h1>Case 3</h1>
      <p>This is the third case</p>
    </div>
  </main>

  <div class="container case-container">
    <div class="row">
      <div class="col-12">
        <div class="main-div">
          <button type="button" class="btn btn-primary btn-lg">Next</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <%= simple_form_for [@computer, @spec] do |f| %>
    <%= f.association :component, label: @category.display_name, as: :radio_buttons, collection: @components.order('rating DESC') %>
    <%= f.submit "Next" %>
  <% end %>
</div>

<!-- Checks if there are any mandatory components left to select -->

<% if (@categories_left & Category::MANDATORIES).empty? %>
  <% if Spec::STEPS.index(@category.slug) + 1 > Spec::STEPS.keys.size %>
    <%= link_to "Skip", computer_path(@computer) %>
  <% else %>
    <%= link_to "Skip", computer_components_path(:category =>
    Spec::STEPS[Spec::STEPS.index(@category.slug) + 1])  %>
  <% end %>
<% end %>



<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="top-div">
        <p class="top-div-text">Step 1: Choose your case </p>
        <div class="row">
          <div class="col-8">
            <div class="inner-div">
              <button type="button" class="btn btn-primary btn-lg" disabled>Next</button>
            </div>
          </div>
          <div class="col-4">
            <div class="right-inner-div">
              <div class="row">
                <div class="col-12">
                  <div class="components">


                  </div>
                </div>
              </div>
                <div class="row">
                <div class="col-12">
                  <div class="components">


                  </div>
                </div>
              </div>
                <div class="row">
                <div class="col-12">
                  <div class="components">


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

