<%= simple_form_for [@computer, @spec] do |f| %>
  <div class="main-container">
    <%= render 'image_container', f: f %>
    <%= render 'component_selector', f: f %>
  </div>

  <div class="pricing-footer">
    <%= image_tag component_path(:cases, @computer.case_number), class: "footer-image" if @computer.case_number %>
    <%= price_tag(@spec) %>

    <div class="empty"></div>
    <div>
      <%= button_tag "Finish", {
          type: "submit",
          class: "btn btn-finish",
          onclick: "submitForm(forms[0], '?finished=true')"
        } if @computer.is_computer_completed? %>
    </div>
  </div>
<% end %>

<!-- This is the JS to update price in real-time -->

<%= javascript_tag do %>
function submitForm(form, params) {
  form.action = form.action + params
  form.submit()
}
<% end %>
