
<%= simple_form_for [@computer, @spec] do |f| %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="top-div">
        <p class="top-div-text">Step <%= @components.first.category_id %>: Choose your <%= params[:category].singularize %> </p>
        <div class="row">
          <div class="col-8">
            <div class="inner-div">
              <% if @components.first.category_id >= 2 %>
              <%= f.submit "Previous", class: "btn btn-primary btn-lg previous"  %>
              <%= f.submit "Next", class: "btn btn-primary btn-lg next"  %>
              <% else %>
              <%= f.submit "Next", class: "btn btn-primary btn-lg next"  %>
              <% end %>
            </div>
          </div>
          <div class="col-4">
            <div class="right-inner-div">
              <% @components.each do |component| %>
              <div class="row">
                <div class="col-12">
                  <div class="components">
                    <%= f.radio_button :component_id, component.id %>
                    <%= f.label :"component_id_#{component.id}", component.name %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<!--
<div class="wrapper">
  <input type="checkbox" id="menuToggler" class="input-toggler" />
<label for="menuToggler" class="menu-toggler">
  <span class="menu-toggler__line"></span>
  <span class="menu-toggler__line"></span>
  <span class="menu-toggler__line"></span>
</label>
<aside class="sidebar">
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#Case1">Case 1</a></li>
    <li class="menu__item"><a class="menu__link" href="#Case2">Case 2</a></li>
    <li class="menu__item"><a class="menu__link" href="#Case3">Case 3</a></li>
  </ul>
</aside> -->

</div>

  <!-- <main class="content">
    <div id="Case1">
      <h1>Case 1</h1>
      <p>This is the first case</p>
    </div>
    <div id="Case2">
      <h1>Case 2</h1>
      <p>This is the second case</p>
    </div>
    <div id="Case3">
      <h1>Case 3</h1>
      <p>This is the third case</p>
    </div>
  </main>

  <div class="container case-container">
    <div class="row">
      <div class="col-12">
        <div class="main-div">
          <button type="button" class="btn btn-primary btn-lg">Next</button>
        </div>
      </div>
    </div>
  </div>
</div> -->


