<%= simple_form_for [@computer, @spec] do |f| %>

<div class="container">

  <div class="row">
    <div class="col-12">
      <div class="top-div">

       <% if !Category::MANDATORIES.include?(@category.slug) %>
          <p class="top-div-text">
          <span class="optional-steps"> Optional</span> Step <%= @current_step %>: Choose your <%= @category.display_name.singularize %> </p>
        <% else %>
          <p class="top-div-text">

          Step <%= @current_step %>: Choose your <%= @category.display_name.singularize %> </p>
        <% end %>

        <div class="row">
          <div class="col-8">
            <div class="inner-div">
              <% if @current_step >= 2 %>
                <%= link_to "Previous", computer_components_path(@spec.computer, category: Spec::STEPS[@current_step - 1]), class: "btn btn-primary btn-lg previous"  %>
                  <% if @optional %>
                    <%= f.submit "Next", class: "btn btn-secondary btn-lg next", disabled: false  %>
                  <% else %>
                    <%= f.submit "Next", class: "btn btn-secondary btn-lg next", disabled: !@spec.component_id?  %>
                  <% end %>
              <% else %>
                <%= f.submit "Next", class: "btn btn-secondary btn-lg next", disabled: !@spec.component_id? %>
              <% end %>
                <%= image_tag("#{@category.display_name}.png", :alt => "#{@category.display_name}", class: "main-image") %>
            </div>
          </div>

          <div class="col-4">
            <div class="right-inner-div">
              <% @components.each do |component| %>
                <div class="row">
                  <div class="col-12">
                    <%= f.label :"component_id_#{component.id}", class: "big-label" do %>
                    <%= f.radio_button :component_id, component.id, class: "component-button" %>
                      <div class="components">
                        <%= image_tag("#{@category.display_name}.png", :alt => "#{@category.display_name}", class: "inner-image") %>
                        <%= component.name %>
                        <p id="component-price" data-value="<%= component.price %>">$<%= component.price %></p>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<% end %>

<div class="pricing-footer">
  <% if params[:category] != 'cases' %>
    <%= image_tag "https://www.scan.co.uk/images/infopages/corsair_cases/570x-top.png" %>
  <% end %>
  <p id="current-price" data-value="<%= @computer.total_price - Money.new(@spec.component.try(:price)) %>"><%= humanized_money_with_symbol(@computer.total_price - Money.new(@spec.component.try(:price))) %></p>
  <div class="empty"></div>
  <div>
    <% if @computer.is_computer_completed? %>
      <%= button_tag "Finish", type: "submit", class: "btn btn-success", onclick: "submitForm(forms[0], '?finished=true')" %>
    <% end %>
  </div>
</div>

<!-- This is the JS to update price in real-time -->

<script type="text/javascript">
  function submitForm(form, params) {
    form.action = form.action + params
    form.submit()
  }
</script>
