<div class="background-color-computer-show">
  <div class="container">
    <div class="padding-top-bottom-computer-show">
      <h3 id="show-computer-title">Your build</h3>
      <div class="row">
        <% @computer.sorted_specs.each do |spec| %>
          <%= render "components/spec", spec: spec, edit_functions: true %>
        <% end %>
      </div>

      <div class="pricing-footer">
        <%= image_tag ("cases/cases-#{@case_number}-main.png"), class: "footer-image"%>
        <p><%= humanized_money_with_symbol(@computer.total_price) %></p>
        <div class="empty"></div>

        <div><%= button_to "Save", computers_path, method: :get, class: "btn btn-save" %></div>
        <div><%= button_to "Buy", computer_orders_path(@computer.id), method: :post, class: "btn btn-buy" %></div>
      </div>
    </div>
  </div>
</div>
