<div class="page-wrapper">
  <h1 class="text-center m-3">Your custom computer</h1>

  <h3 class="text-center m-2">Compulsory parts</h3>
  <%= render "checkout_list", specs: @mandatory_specs, remove_button: false %>
  <h3 class="text-center m-2">Optional parts</h3>
  <%= render "checkout_list", specs: @optional_specs, remove_button: true %>

  <%= link_to "Save this build", computers_path %>
</div>


<div class="pricing-footer">
  <img src="https://www.scan.co.uk/images/infopages/corsair_cases/570x-top.png" alt="current-case">
  <p><%= humanized_money_with_symbol(@computer.price) %></p>
  <div class="empty"></div>
  <div><%= button_to "Purchase", computer_orders_path(@computer.id), method: :post, class: "btn btn-success" %></div>
</div>


