<div class="navbar-container">
  <!-- Logo -->
  <span class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag("nodelabs-logo-navbar.png", :alt => "logo") %>
    <% end %>
  </span>

  <!-- Sign in / Sign up -->
  <span class="navbar-words">
    <div class="navbar-wagon-item">
        <% if current_user %>
         <!-- cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: {:toggle => "dropdown"} -->
        <%= link_to "My Builds", :computers %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>

        <% else %>
        <%= link_to "Log In", user_session_path, class: "navbar-words" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "navbar-words" %>
        <% end %>
    </div>
  </span>
</div>
