<!-- Logo -->
<%= link_to root_path, class: "new-logo" do %>
  <i class="icon"></i>
  <div class="main-title">Node Lab</div>
<% end %>

 <!-- Sign in / Sign up -->

<div class="navbar-wagon-item">
  <div class="dropdown">
    <% if current_user %>
     <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: {:toggle => "dropdown"}%>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
        <%= link_to "Log In", user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</div>

